* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(78, 122, 78);
    display: flex;
}

.memoryGame {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.memoryCard {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memoryCard:active {
    transform: scale(0.97);
    transition: transform 0.10s;
}

.memoryCard.turn {
    transform: rotateY(180deg);
}

.frontCard, 
.backCard {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color:rgb(159, 169, 175);
    padding: 15px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.frontCard {
    transform: rotateY(180deg);
}

img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
  }

button {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 200px;
    top: 150px;
    border-radius: 5px;
    background-color: rgb(23, 2, 143);
    color:gold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    transform: rotate(-20deg);
}  

button:active {
    transform: scale(0.97);
    transition: transform 0.10s;
}

.title {
    position: absolute;
    left: 70px;
    top: 150px;
    color: gold;
    transform: rotate(-20deg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
